* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
}
.contanier {
  justify-content: center;
  display: flex;
}
.contanier img {
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 19px;
  box-shadow: 0 0 3px;
  transition: 0.2s all;
}
.contanier .profile {
  border: 1px solid #dadada;
  width: 351px;
  text-align: center;
  padding: 20px;
  display: flex;
  line-height: 36px;
  border-radius: 22px;
}
.contanier img:hover {
  height: 312px;
  width: 312px;
}
.profile button {
  width: 110px;
  height: 34px;
  border: 1px solid royalblue;
  border-radius: 101px;
  background: royalblue;
  color: white;
  box-shadow: 0 0 4px #000;
  cursor: pointer;
}
.copyright {
  text-align: center;
  width: 100%;
  background: royalblue;
  padding: 27px 33px;
  color: white;
  text-align: center;
  justify-content: center;
  display: flex;
  margin-top: 98px;
}
.copyright p {
  font-size: 15px;
}
.name p {
  line-height: normal;
  margin-top: 8px;
}
.button {
  margin-top: 15px;
  gap: 46px;
  display: flex;
  justify-content: center;
}
button.ignore {
  background: orangered;
  border: orangered;
}
button {
  transition: 0.9s;
}
button:hover {
  transition-duration: 0.9s;
  transform: rotate3d(-2, -3, -1, 276deg);
}
